<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>领啤酒</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />-->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/living.css">
    <!--<script type="text/javascript" src="js/jquery.js"></script>-->
    <script type="text/javascript" src="js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/fetch.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
</head>
<body>
<div id="app">
 <div class="box">
     <input type="text" class="input_box" v-model="QRcode">
     <p @click="helps" class="input_but">查询</p>
     <p class="input_but input_but2" @click="handle_val" id="scanQRCode">扫描手环</p>
     <!--<button>扫描手环</button>-->
 </div>

 <div class="now" style="overflow: hidden" v-if="arr.length>0">
     <span style="font-weight:bolder;float:left;margin-top:0.2rem; ">今日消费记录</span>
     <p @click="handleClick" style="float:right" class="input_but input_but1" v-show="Number(num)<3 && Number(times)>Number(num)">领取</p>
     <span style="margin-top:0.2rem;float:right;margin-right:0.2rem;">已领取 <span>{{num}}</span>次</span>

 </div>
    <div>
        <div v-if="arr.length==0" class="now_no">
            今日无消费
        </div>
        <ul v-if="arr.length>0">
           <li v-for="v in arr" class="ul_li">
               <div>{{v.orderTime}}</div>
               <div>消费金额：{{v.orderAmount}}</div>
               <div>消费商户：{{v.shopname}}</div>
           </li>

        </ul>
    </div>


</div>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            "QRcode": "",
            num:0,
            arr:[],
            times:'',
            url :'',
            jsapi_ticket:'',
            nonceStr:'',
            timestamp:'',
            signature:''
        },
        created:function(){
            this.val();
        },
        methods:{
            handle_val:function(){
                wx.scanQRCode({
                    needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success : function(res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        alert('结果'+result);
                        this.helps(result);
                    }
                });
            },
            val:function(){
                alert(location.href.split('#')[0]);
                var that=this;
                this.$api.post('api/user/getJsapiSignConfigOfWX',{
                    "signUrl": location.href.split('#')[0]
                },function(res){
                    alert(res.body.timestamp);
                    alert(res.body.nonceStr);
                    alert(res.body.signature);
                    wx.config({
                        // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        debug: true,
                        // 必填，公众号的唯一标识
                        appId: 'wx032c564a32073fee',
                        // 必填，生成签名的时间戳
                        timestamp:""+res.body.timestamp,
                        // 必填，生成签名的随机串
                        nonceStr:res.body.nonceStr,
                        // 必填，签名，见附录1
                        signature:res.body.signature,
                        // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        jsApiList : [ 'checkJsApi', 'scanQRCode' ]
                    });
                },function(e){
                    switch(e.errorcode){
                        default:
                            break;
                    }
                });
            },
            handleClick:function(){
                var that=this;
                this.$api.post('/api/report/receive',{
                    "QRcode": this.QRcode
                },function(res){
                  that.helps();
                },function(e){
                    switch(e.errorcode){
                        default:
                            break;
                    }
                });
            },
            format:function (timestamp) {
                var date = new Date(timestamp );//时间戳为10位需*1000，时间戳为13位的话不需乘1000
                Y = date.getFullYear() + '-';
                M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                D = date.getDate() + ' ';
                h = date.getHours() + ':';
                m = date.getMinutes() ;
                return Y+M+D+h+m;
            },
            helps:function(val){

                var that=this;
               var QRcode_val = this.QRcode;
                this.$api.post('/api/report/activityInfo',{
                    "QRcode": QRcode_val
                },function(res){
                    that.num = res.body.num;
                    that.arr = res.body.detail;
                    that.times = res.body.times;
                    for(var i in that.arr){
                        that.arr[i].orderTime = that.format(that.arr[i].orderTime);
                    }
                },function(e){
                    switch(e.errorcode){
                        default:
                            break;
                    }
                });
            }

        },
        filters:{

        }
    });
</script>
<!--<script>-->
    <!--$.ajax({-->
        <!--type:"post",-->
        <!--url:'/api/user/getJsapiSignConfigOfWXe',//自己填写请求地址-->
        <!--data:{ "signUrl":'http://fk5431.com/about/look.html'},-->
        <!--success:function(result){-->

            <!--wx.config({-->
                <!--// 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。-->
                <!--debug: true,-->
                <!--// 必填，公众号的唯一标识-->
                <!--appId: 'wx032c564a32073fee',-->
                <!--// 必填，生成签名的时间戳-->
                <!--timestamp:""+result.body.timestamp,-->
                <!--// 必填，生成签名的随机串-->
                <!--nonceStr:result.body.noncestr,-->
                <!--// 必填，签名，见附录1-->
                <!--signature:result.body.signature,-->
                <!--// 必填，需要使用的JS接口列表，所有JS接口列表见附录2-->
                <!--jsApiList : [ 'checkJsApi', 'scanQRCode' ]-->
            <!--});-->
        <!--}-->
    <!--})-->

    <!--wx.ready(function() {-->
        <!--wx.checkJsApi({-->
            <!--jsApiList : ['scanQRCode'],-->
            <!--success : function(res) {-->

            <!--}-->
        <!--});-->

        <!--//点击按钮扫描二维码-->
        <!--var that = this;-->
        <!--document.querySelector('#scanQRCode').onclick = function() {-->
            <!--alert(1);-->
            <!--wx.scanQRCode({-->
                <!--needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，-->
                <!--scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有-->
                <!--success : function(res) {-->
                    <!--var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果-->

                    <!--alert(result);-->
                    <!--// window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面-->
                <!--}-->
            <!--});-->
        <!--};-->

    <!--});-->
<!--</script>-->
<style scoped>
body{
    font-size:0.3rem;
}
    .box{
        padding:0.5rem 0.2rem;
    }
    .input_box{
        font-size: 0.3rem;
        width:50%;
        height:0.8rem;
        border-radius: 0.15rem;
        outline: none;
        padding:0 0.2rem;
    }

    .input_but{
        display: inline-block;
        width:15%;
        height:0.8rem;
        line-height:0.8rem;
        text-align:center;
        color:#fff;
        font-size:0.3rem;
        background: #ff9c42;
        border-radius: 0.1rem;
        margin-left:0.1rem;
    }
      .input_but2{
          width:25%;
      }
        .input_but1{
            width:1.2rem;
            height:0.6rem;
            line-height:0.6rem;
        }
    .now{
        padding:0.2rem;
        border-bottom:0.01rem solid #ff9c42;
    }
    .ul_li{
        border-bottom:1px solid #ff9c42;
        padding:0.3rem 0.2rem;
    }
    .ul_li div{
        line-height:0.6rem;
    }
        .now_no{
            font-weight: bolder;
            font-size: 0.6rem;
            color:#ddd;
            margin-top:3rem;
            text-align: center;
        }
</style>
</body>
</html>